<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.ConfigurationManager" version="16.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="ExtensibleSaveFormat.Koikatu" version="16.3.0" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx" version="5.4.8" targetFramework="net472" />
  <package id="IllusionLibs.BepInEx.Harmony" version="2.3.2" targetFramework="net472" />
  <package id="IllusionLibs.KoikatsuParty.Assembly-CSharp" version="2019.4.27.2" targetFramework="net35" />
  <package id="IllusionLibs.Koikatu.Assembly-CSharp-firstpass" version="2019.4.27.2" targetFramework="net35" />
  <package id="IllusionLibs.Koikatu.UnityEngine" version="5.6.2.2" targetFramework="net35" />
  <package id="IllusionModdingAPI.KKAPI" version="1.18.0" targetFramework="net35" developmentDependency="true" />
</packages>